<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Stockgest</title>
</head>
<body>
    <nav id="nav-bar">
        <ul>
            <li>
                <h2>Stockgest</h2>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/add">Cadastrar produto</a>
            </li>
            <li>
                <a href="">Produtos</a>
            </li>
            <li>
                <a href="#">Perfil</a>
            </li>
            <li>
                <a href="#">Sair</a>
            </li>
        </ul>
    </nav>
    {{{body}}}
    
    <footer id="footer-r">
        <ul>
            <li>
                <a href="#">Sobre nós</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
        </ul>
        <p>&copy; Todos os direitos reservados a Filipe Camarata</p>

    </footer>    
</body>
</html>